body {
    font-family: $lato;

}

h1 {
    font-size: $xxx-large;
    font-weight: $lato-black;

}

h2  {
    font-size: $xx-large;
    font-weight: $lato-bold;

}

h3 {
    font-size: $medium;
    font-weight: $lato-black;

}

h4 {
    font-size: $x-large;
    font-weight: $lato-regular;
}
p { 
    font-size: $medium;
    font-weight: $lato-light;
}

.section-experiencia .subti {
    font-size: $medium;
    font-weight: $lato-regular;

}

