//esquema de colores 
$turquoise: #7cea9c;
$dark-blue: #2d3047;
$black: #071013;
$white: #ffffff;

//tipografía
$lato: 'Lato', sans-serif;

//tamaño de fuente 
$xxx-large: 46px;
$xx-large: 35px;
$x-large: 20px;
$medium: 16px;
$small: 14px;

//peso de fuente
$lato-light: 300;
$lato-regular: 400;
$lato-bold: 700;
$lato-black: 900;












































